@import url(normalice.css);

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    line-height: 1.6;
}

body {
    background-color: var(--blanco);
}

:root{
    /*--blanco: rgb(255, 255, 255);*/
    --blanco: white;
    --negro: rgb(30, 30, 30);
    --grisClaro: rgb(108, 108, 108);
    --pink: #ff4f81;
}

.btn{
    margin-left: 1vw;
    padding: 0.7vw 3vw;
    border: 0;
    border-radius: 0.1875em;
    background-color: #7066e0;
    box-shadow: none;
    color: #fff;
    font-size: 1.125em;
    font-weight: 500;
    white-space: nowrap;
}