@import url(global/global.css);

a {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
}

.hero {
    display: flex;
    flex-direction: column;
}

/* CONTENIDO MENU */

.menu {
    grid-area: menu;
    display: grid;
    height: 10vh;
    background-color: var(--negro);
}

.menu-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.menu-contenedor .menu-imagen img{
    height: 50px;
}

.menu-lista {
    grid-area: enlaces;
}

.menu-contenedor .menu-lista {
    display: flex;
}

.menu-contenedor .menu-titulo .menu__titulo {
    color: var(--blanco);

}

.menu-contenedor .menu-lista .menu__item {
    color: var(--blanco);
}

.menu-contenedor .menu-lista .menu__item a {
    font-size: 25px;
    margin-left: 35px;
    color: var(--blanco);
}

.menu-contenedor .menu-lista .menu__item a:hover {
    color: var(--pink);
}

.menu-contenedor .menu-lista .menu__item--active a {
    font-weight: bold;
    border-bottom: 1px solid var(--pink);
    color: var(--pink);
}

.pagina-principal {
    grid-area: pagina-principal;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 100px;
}

.principal-grilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.contenido {
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.contenido__titulo {
    font-size: 30px;
}

.principal__texto {
    text-align: justify;
    margin: 2vh;
    font-size: 20px;
}

.principal-video {
    justify-content: center;
    display: flex;
}

.principal__video {
    height: 500px;
    width: 700px;
}

.principal-grilla .tarjetas {
    grid-area: tarjetas;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.principal-grilla .tarjetas .tarjeta {
    display: grid;
    grid-template-areas:
        "icono titulo"
        "subtitulo subtitulo"
        "boton boton";
    align-items: center;
    grid-template-columns: 3vw auto;
    height: 300px;
    width: 500px;
    padding: 1vw 2vw;
    color: var(--blanco);
    background-color: var(--negro);
}

.principal-grilla .tarjetas .tarjeta-icono {
    grid-area: icono;
    display: grid;
    align-items: center;
}


.principal-grilla .tarjetas .tarjeta__icono {
    color: var(--blanco);
}


.principal-grilla .tarjetas .tarjeta-titulo {
    display: grid;
    align-items: center;
    grid-area: titulo;
}

.principal-grilla .tarjetas .tarjeta-subtitulo {
    grid-area: subtitulo;
}

.principal-grilla .tarjetas .tarjeta-boton {
    grid-area: boton;
}

.principal-grilla .tarjetas .tarjeta .tarjeta__titulo {
    font-size: 30px;
    text-transform: uppercase;
}

.principal-grilla .tarjetas .tarjeta .tarjeta__subtitulo {
    font-weight: 400;
    font-size: 20px;
}

.principal-grilla .tarjetas .tarjeta .tarjeta-boton {
    display: grid;
    justify-content: end;
    align-items: center;
}

.principal-grilla .tarjetas .tarjeta .tarjeta-boton a {
    color: var(--blanco);
    padding: 10px 20px;
    background-color: var(--pink);
    border-radius: 0.2vw;
}

.principal-grilla .tarjetas .tarjeta .tarjeta-boton a:hover {
    background-color: rgb(250, 156, 171);
}

.principal-grilla .lista {
    display: flex;
    flex-direction: column;
}

/* CONTENIDO REDES */

.footer {
    grid-area: footer;
    display: grid;
    align-items: center;
    height: 10vh;
    background-color: var(--negro);
}

.contenido-redes {
    padding: 0 5vw;
    display: grid;
    justify-items: center;
    row-gap: 1vw;
}

.redes-texto p {
    color: var(--blanco);
    font-size: 0.9vw;
}

.redes-texto a {
    color: var(--blanco);
}


@media only screen and (max-width: 600px) {



    /* CONTENIDO MENU */
    .menu {
        height: 20vh;
    }

    .menu-contenedor {
        display: grid;
        grid-template-areas:
            "titulo"
            "enlaces";
        margin: auto;
        row-gap: 0vh;
    }

    .menu-contenedor .menu-titulo .menu__titulo {
        font-size: 8vw;
    }

    .menu-contenedor .menu-lista .menu__item a {
        font-size: 5vw;
        margin-left: 3vw;
    }

    /* CONTENIDO PRINCIPAL */

    .principal-grilla {
        margin-top: 2vh;
        margin-right: 2vw;
        margin-left: 2vw;
    }

    .pagina-principal {
        margin: 2vh 2vw;
    }

    .contenido__titulo {
        font-size: 6vw;
    }

    .principal__texto {
        text-align: justify;
        margin: 2vh;
        font-size: 4vw;
    }



    .principal-grilla .tarjetas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 2vh;
    }

    .principal-grilla .tarjetas .tarjeta {
        display: grid;
        grid-template-areas:
            "icono titulo"
            "subtitulo subtitulo"
            "boton boton";
        align-items: center;
        grid-template-columns: 15vw auto;
        height: 40vh;
        width: 80vw;
        padding: 5vw;
        background-color: #191919;
        color: rgb(218, 218, 219);
        border-radius: 2vw;
    }

    .principal-grilla .tarjetas .tarjeta .tarjeta__titulo {
        font-size: 6vw;
    }

    .principal-grilla .tarjetas .tarjeta .tarjeta__subtitulo {
        font-weight: 400;
        font-size: 5vw;
    }

    .principal-grilla .tarjetas .tarjeta .tarjeta-boton a {
        color: var(--blanco);
        padding: 2vw 10vw;
        font-size: 4vw;
        border-radius: 0.5vw;
    }


    /* CONTENIDO REDES */

    .footer {
        display: grid;
        align-items: center;
        height: 20vh;

    }

    .contenido-redes {
        padding: 0;
        row-gap: 3vh;
    }

    .redes-tarjetas {
        display: flex;
        justify-content: center;
        column-gap: 5vw;
    }

    .redes-tarjetas .tarjeta {
        display: grid;
        align-items: center;
    }

    .redes-tarjetas .tarjeta-icono i {
        font-size: 8vw;
        color: aliceblue;
    }

    .redes-texto p {
        font-size: 3.5vw;
    }
}